@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<td>
    <a asp-controller="OrderItems" asp-action="CreateNewItem" class="btn btn-dark" style="color: white;">Add New Item</a>
</td>

<td>
    <a asp-controller="OrdersController1" asp-action="AllOrders" class="btn btn-dark" style="color: white;">List all Orders</a>
</td>


<td>
    <a asp-controller="OrderItems" asp-action="Products" class="btn btn-dark" style="color: white;">List all Products</a>
</td>

<td>
    <a asp-controller="OrderItems" asp-action="AllCustomer" class="btn btn-dark" style="color: white;">List all Customer</a>
</td>