@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center mb-4">
    
    <td>
        <a href="/Home/CreateNewCustomer" class="btn btn-dark mx-2" style="color: white;width: 150px;">Create New Customer</a>
    </td>

    <td>
        <a href="/OrdersController1/Create" class="btn btn-dark mx-2" style="color: white; width: 150px;">Create New Order</a>
    </td>

    <td>
        <a href="/OrdersController1/Lookup" class="btn btn-dark mx-2" style="color: white; width: 150px;">All Order By CUstomer ID</a>
    </td>

</div>

